<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoRS27pOLHf2fUtK0XJ619XGzLkvCeDac</string>
	<key>GCM_SENDER_ID</key>
	<string>64437760194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourname.soundmap</string>
	<key>PROJECT_ID</key>
	<string>soundmap-1ad52</string>
	<key>STORAGE_BUCKET</key>
	<string>soundmap-1ad52.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64437760194:ios:5fb3e8171345a3a2fd0b5b</string>
</dict>
</plist>